<div class = "container">
  <h1>Welcome to Bitly</h1>

  <h2>Generate!</h2>

  <!--Form for short URL-->
  <form action = "/new" method="post" >
    URL: <input type="text" name="original">
    <input type = "submit" value="Submit">
  </form>


  <h2>Log On!</h2>

    <form action = "/login" method = "post">
      Log On: <input type="text" name="username"><br>
      Password: <input type = "text" name="password"><br>
      <input type = "submit" value = "Log On">
    </form>
  <br>

  <h2>Sign Up</h2>
    <form action = "/signup" method = "post">
      Enter Your Full Name: <input type="text" name="name"><br>
      Enter Your Email: <input type="text" name="username"><br>
      Password: <input type = "text" name="password"><br>
      <input type = "submit" value = "Sign Up!">
    </form>


</div>
